
@media (min-width:544px) {
    .hide-when-large{display: none !important}
}

@media (max-width:544px) {
    .hide-when-small{display: none !important}
}

.numbers-summary li {
    padding: 10px !important;
}

overall-summary{
    overflow: auto;
}

.ws-unset {
    white-space: unset !important;
}

.span-filename {
    cursor:pointer;
    color:#0366d6;
}

.span-filename:hover {
    text-decoration: underline;
}